@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el tema oscuro */
body.dark {
  background-color: #000000;
  color: #0b0000;

}
/* Estilos para el tema claro */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --link-color: #3182ce;

}

a {
  color: var(--link-color); 
}

body.dark a {
  color: var(--link-color);
}
